.head{
    background-color: grey;
}
.xc{
    padding:5px;
}
.xf{
    padding:5px;
}
.pad{
    padding-top:1 rem
}
.white{
    color: white;
    font-style:italic;
}
.icon{
    padding-left: 6rem;
}
.forecast{
    padding-right: 1rem;
}
.PB{
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#mainImg{
    height: 200px;
    width: 250px;
}
.bold{
    font-weight: bold;
}
.wide{
    width:100%;
}
.bigger{
    font-size:xx-large;
}
.roman{
    font-family: "Times New Roman", Times, serif;
}